.sidebar-content .ant-card-head {
  border-bottom: 1px solid #ccc;
}
.sidebar-content .ant-card-body {
  padding: 1rem;
}

.sidebar-content .signup-card {
  text-align: center;
}

.col-width {
  width: 100%;
}
