.footer {
  display: block;
  position: relative;
  width: 100%;
  background: #1e2434;
  padding-top: 94px;
  padding-bottom: 1rem;
}

.footer-logo {
  font-size: 1.5rem;
  color: #fff;
}

.ant-list-split .ant-list-item {
  border: 0;
}

.icons-list > .anticon {
  margin-right: 6px;
  font-size: 24px;
  color: #ffffff;
}
.ant-row-rtl .icons-list > .anticon {
  margin-right: 0;
  margin-left: 6px;
}
